
#headerUn {
    background-color: #FCC43D;
    color: #ffffff;
    text-align: center;
    padding: 1.5em;
}

#headerUn a {
    padding-left: 1.5em;
    color: black;
}

.logoHaut {
    float: right;
    padding-right: 1.5em;
    padding-left: 1.5em;
    height: 0.5em;
    width: 0.5em;
}

#logoHaut {
    background-color: #F6EEE3;
    border-radius: 60%;
    height: 2.5em;
    width: 2.5em;
}

#decalage {
    padding-right: 1.5em;
}


#headerDeux {
    background-color: #FF5500;
    color: #ffffff;
    text-align: center;
    padding: 1.2em;
}

#headerDeux a {
    color: #F6EEE3;
    padding: 1.1em;
}

.headerDeux {
    height: 2.5em;
    width: 2.5em;
    transition: transform 1.2s;
}

.headerDeux:hover {
    font-size: 1.5em;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

body {
    background-color: #F6EEE3;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

#seConnecter {
    color: #F6EEE3;
    background-color: #084C4B;
    border-radius: 15px;
}

#hautDePage {
}

.hautDePage {
    color: #FCC43D;
    font-size: 3em;
    padding-top: 1em;
}

.sousTexteHautDePage {
    color: #084C4B;
    font-size: 4em;
}

.sousTexteHautDePage2 {
    color: #084C4B;
}

* {
    font-family: 'Marine Sikona', serif;
}

.formulaireCreation {
        color: #084C4B;
}

a {
    text-decoration: none;
}

