body {
    max-width: 100%;
    background-color: #F6EEE3;
    color: #084C4B;
    text-align: center;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    text-align: left;
    padding-left: 20px;
}

img {
    display: block;
    float: left;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
}