body {
    max-width: 100%;
    background-color: #F6EEE3;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

.row {
    background-color: #F6EEE3;
}

img {
    display: block;
    float: left;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
}